.profile {
    display: flex;
    width: 60%;
    margin: auto;
    padding-top: .3em;
}

.sprofile {
    display: flex;
    flex-direction: column;
}

.pfform {
    width: 60%;
    margin: auto;
}

form > button {
    margin-top: .3em;
}

img {
    width: 7em;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.post {
    border: .1em solid black;
    margin-bottom: .2em;
    padding: .2em;
}

.postbody {
    padding-bottom: .3em;
}