{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Forum</title>
    </head>

    {{ if .user }}
        {{ template "userinfo" .user }}
    {{ else }}
        {{ template "loginregister" }}
    {{ end }}

{{end}}