{{ define "navbar" }}

<div class="navbar">
    <div class="title">Forum</div>

    {{ if .user }}
        {{ template "userinfo" .user }}
    {{ else }}
        {{ template "loginregister" }}
    {{ end }}
</div>

{{ end }}