{{ define "replyform" }}

    <div>
        <form method="POST">
            <textarea id="postreply" name="postreply" rows=6 cols=40 placeholder="Post your reply..."></textarea>
            <button type="submit">Post</button>
        </form>
    </div>

{{ end }}